
<h1>Change Password</h1>

<form method="post" action="">

<label for="newPassword">New Password:</label>
<input type="password" id="newPassword" name="newPassword" title="New password" /><br>

<label for="confirmPassword">Confirm Password:</label>
<input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" /><br>

<label for="email address">email address:</label>
<input type="text" id="email address" name="email address" title="email address" />

<p class="form-actions">
<input type="submit" value="Change Password" title="Change password" />
</p>

</form>